@model UserManagement.Web.Models.Users.UserViewModel

<h2>Edit User</h2>
<form asp-controller="Users" asp-action="EditUser" asp-route-id="@Model.Id" method="post">
    <div>
        <label>
            Id:
            <a>@Model.Id</a>
        </label>
    </div>

    <div>
        <label>
            Forename:
            <input asp-for="Forename" value="@Model.Forename" />
        </label>
        <span asp-validation-for="@Model.Forename" class="text-danger"></span>
    </div>

    <div>
        <label>
            Surname
            <input asp-for="Surname" value="@Model.Surname" />
        </label>
        <span asp-validation-for="@Model.Surname" class="text-danger"></span>
    </div>

    <div>
        <label>
            Email:
            <input asp-for="Email" value="@Model.Email" />
        </label>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>

    <div>
        <label>
            Date of Birth:
            <input asp-for="DateOfBirth" value="@Model.DateOfBirth" />
        </label>
        <span asp-validation-for="@Model.DateOfBirth" class="text-danger"></span>
    </div>

    <div>
        <label>
            Is Active:
            <input asp-for="IsActive" type="checkbox" value="@Model.IsActive" />
        </label>
        <span asp-validation-for="@Model.IsActive" class="text-danger"></span>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>
